* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
.App{
  width: 100%;
  height: 100vh;
  background-color: var(--Very-dark-blue);
  font-family: 'Rubik', sans-serif;
  display: flex;
}
.cont-dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.usuario{
  background-color: var(--Dark-blue);
  color: white;
  width: 20%;
  height: 480px;
  border-radius: 10px;
  margin-right: 20px;
}
.botonera a{
  text-decoration: none;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--Pale-Blue);
  display: block;
  padding: 20px;
  line-height: 10px;
}
.botonera a:hover{
  color: white;
  cursor: pointer;
}
.persona{
  background-color: var(--Blue);
  height: 315px;
  border-radius: 10px;
  padding: 20px 30px;
}
#foto{
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cont-tableros{
  width: 800px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(2, 230px);
  grid-gap: 20px;
}
.tablero{
  background-color: var(--Lime-green);
  color: white;
  border-radius: 10px;
}
#icono{
  height: 50px;
}
.info-tablero{
  background-color: var(--Dark-blue);
  transform: translateY(-10px);
  height: 82%;
  border-radius: 10px;
  padding: 20px;
}
.info-tablero h1{
  font-size: 48px;
  margin-bottom: 10px;
}
.info-tablero h4{
  color: var(--Pale-Blue);
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#puntos{
  width: 30px;
  height: 10px;
}
@media (max-width: 375px){
  .App{
    height: 1720px;
  }
  .cont-dashboard{
    flex-direction: column;
  }
  .usuario{
    width: 300px;
    height: 240px;
    margin: 20px 0;
  }
  .usuario h3{
    display: inline-block;
  }
  .persona{
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  #foto{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-right: 15px;
  }
  .nombre{
    width: 300px;
  }
  .nombre h1{
    font-size: 26px;
  }
  .cont-tableros{
    width: 310px;
    height: 100%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(6,220px);
  }
  .botonera a{
    padding: 15px 25px;
    line-height: 8px;
  }
}